


html{
	
	scroll-behavior:smooth;
}


#loading{
	
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100vh;
	background:#fff
	url('../img/loading2.gif') no-repeat center;
	z-index:999999;
}


.scrollup  i{
		padding:10px 10px 15px 10px;
		transform:rotate(360deg);
		
	}
	.scrollup:hover{
				color:white;
		text-decoration:none;
	}
	.scrollup{
		display:-webkit-flex;
		display:-moz-flex;
		display:-ms-flex;
		display:-o-flex;
		display:flex;
		justify-content:center;
		align-items:center;
		font-size:35px;
		color:white;
		text-decoration:none;
		transition:.5s;
		background:#FEB241;
		position:fixed;
		bottom:16px;
		right:50px;
		width:60px;
		border-radius:5%;
		opacity:0;
		z-index:100000;
		text-decoration:none;
		border:1px solid white;
	}
	
	.scrollup.active{
		
		bottom:32px;
		pointer-events:auto;
		opacity:1;
		transform:translateY(-55px);
	}
	
	
	
	.mobile-menu span{
	  
	    color: #EE6D52;
    font-size: 29px;
    display: none;
    margin-top: 5px;
    margin-right: 14px;
}

.mobile-menu span:hover{
	
	cursor:pointer;
}

.overlay{
	width:0%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:white;
	overflow:hidden;
	transition:.5s;
	z-index:2000000;
}


.overlay a{
	
	text-decoration:none;
	display:block;
	font-size:25px;
	text-transform:uppercase;
	letter-spacing:3px;
	color:black;
	padding:1rem 0;
}
.overlay a:hover{
	color:white;
	
}
.overlay-content .active2{
	color:white;
}

.overlay .closebtn {
    position: absolute;
    top: -240px;
    right: 15px;
    font-size: 35px;
    color: black;
}
.overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
	
}
